div(*ngIf="movie").column.medium-12
  div.row
    div.column.medium-5
      img(src="http://www.le-pacte.com/typo3temp/pics/b8eaaf9cc1.jpg")
    div.column.medium-7
      app-movie-form([movie]="movie")
