a([routerLink]="['/movies',movie.id ]")
  div.row.expanded.search-content
    div.column.medium-4
      img(src='http://fr.web.img6.acsta.net/c_215_290/pictures/17/06/08/11/47/366308.jpg')
    div.column.medium-6
      p.autocomplete-result-title {{movie.title}}
    div.column.medium-2
      p {{movie.releaseYear}}
