div.row.main
  app-counter.row.expanded.align-center.text-center
  div.row.expanded
    div.column.medium-6
      user-card
    div.column.medium-6
      user-card
    div.column.medium-6
      user-card


