.card-profile-stats
  .card-profile-stats-intro
    img.card-profile-stats-intro-pic(src='https://pbs.twimg.com/profile_images/732634911761260544/OxHbNdTF.jpg', alt='profile-image')
    .card-profile-stats-intro-content
      h3 Joe Smith
      p Joined Jan.16th 2017
    // /.card-profile-stats-intro-content
  // /.card-profile-stats-intro
  hr
  .card-profile-stats-container
    .card-profile-stats-statistic
      span.stat 25
      p posts
    // /.card-profile-stats-statistic
    .card-profile-stats-statistic
      span.stat 125
      p followers
    // /.card-profile-stats-statistic
    .card-profile-stats-statistic
      span.stat 88
      p likes
    // /.card-profile-stats-statistic
  // /.card-profile-stats-container
  .card-profile-stats-more
    p.card-profile-stats-more-link
      a(href='#')
        i.fa.fa-angle-down(aria-hidden='true')
    .card-profile-stats-more-content
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem libero fugit, pariatur maxime! Optio enim, deserunt quia molestiae fugiat delectus, dolore et esse nostrum, quod autem necessitatibus fugit soluta repellendus.
    // /.card-profile-stats-more-content
